<div class='max-w-7xl p-5 container mx-auto'>
  <h1 class='text-3xl mb-5'>{{ section.settings.title }}</h1>

  <div class='grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5'>
    {% for product in section.settings.featured-collection.products limit: section.settings.products-to-show %}
      {% render 'product-tile', product: product %}
    {% else %}
      {% for item in (1..4) %}
        {% render 'placeholder-tile' %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Collection",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "featured-collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products-to-show",
      "label": "Products to Show",
      "min": 4,
      "max": 8,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}