<div class='max-w-7xl p-5 container mx-auto'>
  {% paginate collection.products by section.settings.products-per-page %}

    <div class='flex items-end justify-between mb-5'>
      <h1 class='text-3xl'>{{ collection.title }}</h1>

      {% if collection.handle != 'all' %}
        <a class='text-sm' href='{{ routes.collections_url }}'>« See All Collections</a>
      {% endif %}
    </div>

    <div class='grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5'>
      {% for product in collection.products %}
        {% render 'product-tile' product: product %}
      {% else %}
          There are no products on this category
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
      {% render 'pagination', paginate: paginate %}
    {% endif %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Collection Template",
  "settings": [
    {
      "type": "number",
      "id": "products-per-page",
      "default": 12,
      "label": "Products per page"
    }
  ]
}
{% endschema %}