<div class='max-w-7xl p-5 container mx-auto'>

  {% paginate search.results by section.settings.results-per-page %}
    {% if search.results_count > 0 %}
      <div class='flex items-end justify-between mb-5'>
        <h1 class='text-3xl'>
          Found {{ search.results_count }} result(s) for: <span class='text-orange-500 italic'>{{ search.terms | escape }} </span>
        </h1>
        {% comment %} <button x-on:click='searchBarOpen = true' type='button' class='whitespace-nowrap text-base text-gray-500 hover:text-gray-900'>
          » Try another search?
        </button> {% endcomment %}
      </div>

      <div class='grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5'>
        {% for item in search.results %}
          {% case item.object_type %}
            {% when 'product' %}
              {% render 'product-tile' product: item %}
            {% else %}

          {% endcase %}
        {% endfor %}
      </div>
    {% else %}
      <div class='flex flex-col items-center mt-7 md:mt-14'>
        <h1 class='text-2xl mb-5 text-center'>Sorry, searching for <span class='text-orange-500 italic'>{{ search.terms | escape }}</span> had no results.</h1>
        <form action='{{ routes.search_url }}' method='get' class='flex items-center w-full max-w-[500px] relative'>
          <input
            type='search'
            name='q'
            placeholder='Try another search'
            id='search'
            class='w-full border py-3 pl-12 pr-4 focus:outline-dotted outline-1 outline-offset-2'
          />
          <button type='submit'
            class='text-gray-500 absolute p-2 left-[1px] top-[1px] bottom-[1px] my-auto border-r rounded-l-lg bg-zinc-100 focus:outline-dotted outline-1'>
            {% render 'icon-search' %}
          </button>
        </form>
      </div>
    {% endif %}

    {% if paginate.pages > 1 %}
      {% render 'pagination', paginate: paginate %}
    {% endif %}
  {% endpaginate %}

</div>

{% schema %}
{
  "name": "Search Template",
  "settings": [
    {
      "type": "number",
      "id": "results-per-page",
      "default": 12,
      "label": "Results per page"
    }
  ]
}
{% endschema %}