<div class='max-w-7xl p-5 container mx-auto'>
  <h1 class='text-3xl mb-5'>{{ section.settings.title }}</h1>

  <div class='flex flex-wrap md:flex-nowrap gap-5'>
    <div class='w-full md:w-1/2'>
      <div class='bg-white flex flex-col border rounded-lg shadow-lg p-5'>
        <h2 class='text-2xl mb-3'>I already have an account</h2>
        {% form 'customer_login' %}
          <div class='flex flex-col'>
            {{ form.errors | default_errors }}

            <label class='text-grey-700 font-medium text-xs mb-2' for='customer_email'>Email Address *</label>
            <input
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 valid:border-green-400 mb-3'
              type='email'
              name='customer[email]'
              id='customer_email'
              placeholder='Type your email'
              required
            >

            <label class='text-grey-700 font-medium text-xs mb-2' for='customer_password'>Password *</label>
            <input
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 valid:border-green-400 mb-3'
              type='password'
              name='customer[password]'
              id='customer_password'
              placeholder='Type your password'
              required
            >

            <button type='submit' class='mt-4 btn-primary md:w-40'>Login</button>
          </div>
        {% endform %}
      </div>
      <div class='bg-white flex flex-col border rounded-lg shadow-lg p-5 mt-5'>
        <h2 class='text-2xl mb-3'>Forgot your password?</h2>
        {% form 'recover_customer_password' %}
          <div class='flex flex-col'>
            {{ form.errors | default_errors }}

            <label class='text-grey-700 font-medium text-xs mb-2' for='customer_email'>Email Address *</label>
            <input
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 valid:border-green-400 mb-3'
              type='email'
              name='email'
              placeholder='Type your account email'
              required
            >

            <button type='submit' class='mt-4 btn-primary md:w-40'>Reset</button>
          </div>
        {% endform %}
      </div>
    </div>
    <div class='w-full md:w-1/2'>
      <div class='bg-white flex flex-col border rounded-lg shadow-lg p-5'>
        <h2 class='text-2xl mb-1'>Don't have an account?</h2>
        <p class='mb-3'>Use the form below to register</p>
        {% form 'create_customer' %}
          <div class='flex flex-col'>
            {{ form.errors | default_errors }}

            <label class='text-grey-700 font-medium text-xs mb-2' for='first_name'>First Name *</label>
            <input
              required
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 valid:border-green-400 mb-3'
              type='text'
              value=''
              name='customer[first_name]'
              size='30'
            >

            <label class='text-grey-700 font-medium text-xs mb-2' for='last_name'>Last Name *</label>
            <input
              required
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 valid:border-green-400 mb-3'
              type='text'
              value=''
              name='customer[last_name]'
              size='30'
            >

            <label class='text-grey-700 font-medium text-xs mb-2' for='email'>Email Address *</label>
            <input
              required
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 valid:border-green-400 mb-3'
              type='email'
              value=''
              name='customer[email]'
              size='30'
            >

            <label class='text-grey-700 font-medium text-xs mb-2' for='password'>Password *</label>
            <input
              required
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 valid:border-green-400 mb-3'
              type='password'
              value=''
              name='customer[password]'
              size='30'
            >

            <button type='submit' class='mt-4 btn-primary md:w-40'>Register</button>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Login Template",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Login or Register",
      "label": "Page Title"
    }
  ]
}
{% endschema %}
