<div class='max-w-7xl p-5 container mx-auto'>
  <h1 class='text-3xl mb-5'>{{ section.settings.title }}</h1>

  <div class='font-medium text-orange-500 mb-3 -mt-3 hidden' id='checkout-notice'>
    <span class='text-gray-500 -mt-[1px] mr-1'>{% render 'icon-info' %}</span>
    Please login or register to continue your Checkout.
  </div>

  <div class='flex flex-wrap md:flex-nowrap gap-5'>
    <div class='w-full md:w-1/2'>
      <div class='bg-white flex flex-col border rounded-lg shadow-lg p-5'>
        <h2 class='text-2xl mb-3'>I already have an account</h2>
        {% form 'customer_login' %}
          <div class='flex flex-col'>
            {% comment %} TODO: create global styles for labels and inputs so there is no need to repeas all these calsses below on each item {% endcomment %}
            <label class='text-grey-700 font-medium text-sm mb-1' for='customer_email'>Email Address *</label>
            <input
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 required:valid:border-green-400 mb-3'
              type='email'
              name='customer[email]'
              id='customer_email'
              placeholder='Type your email'
              autocomplete='email'
              required
            >

            <label class='text-grey-700 font-medium text-sm mb-1' for='customer_password'>Password *</label>
            <input
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 required:valid:border-green-400 mb-3'
              type='password'
              name='customer[password]'
              id='customer_password'
              placeholder='Type your password'
              required
              autocomplete='current-password'
            >

            <button type='submit' class='mt-4 btn-primary md:w-40'>Login</button>
          </div>
        {% endform %}
      </div>

      <div class='bg-white flex flex-col border rounded-lg shadow-lg p-5 mt-5'>
        <h2 class='text-2xl mb-3'>Forgot your password?</h2>
        {% form 'recover_customer_password', return_to: routes.account_login_url %}
          <div class='flex flex-col'>
            <label class='text-grey-700 font-medium text-sm mb-1' for='customer_email'>Email Address *</label>
            <input
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 required:valid:border-green-400 mb-3'
              type='email'
              name='email'
              placeholder='Type your account email'
              required
            >

            <button type='submit' class='mt-4 btn-primary md:w-40'>Reset</button>
          </div>
          {% comment %} Do not show any error like "account not found with that email", it's a security flaw {% endcomment %}
          {% if form.posted_successfully? or form.errors %}
            {% render 'toast',
              type: 'generic',
              style: 'success',
              content: 'Instructions sent to the specified email.'
            %}
          {% endif %}
        {% endform %}
      </div>
    </div>
    <div class='w-full md:w-1/2'>
      <div class='bg-white flex flex-col border rounded-lg shadow-lg p-5'>
        <h2 class='text-2xl mb-1'>Don't have an account?</h2>
        <p class='mb-3'>Use the form below to register</p>
        {% form 'create_customer', return_to: routes.account_login_url %}
          <div class='flex flex-col'>
            <label class='text-grey-700 font-medium text-sm mb-1' for='first_name'>First Name *</label>
            <input
              required
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 required:valid:border-green-400 mb-3'
              type='text'
              value=''
              name='customer[first_name]'
            >

            <label class='text-grey-700 font-medium text-sm mb-1' for='last_name'>Last Name *</label>
            <input
              required
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 required:valid:border-green-400 mb-3'
              type='text'
              value=''
              name='customer[last_name]'
            >

            <label class='text-grey-700 font-medium text-sm mb-1' for='email'>Email Address *</label>
            <input
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 required:valid:border-green-400 mb-3'
              type='email'
              value=''
              name='customer[email]'
              autocomplete='email'
              required
            >

            <label class='text-grey-700 font-medium text-sm mb-1' for='password'>Password *</label>
            <input
              required
              class='w-full text-gray-700 border py-3 px-4 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:invalid:ring-red-500 required:valid:border-green-400 mb-1'
              type='password'
              value=''
              name='customer[password]'
              pattern='(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=])[A-Za-z\d@$!%*?&]{8,}'
              placeholder='Type your password'
              title='Must have 8 digits: at least 1 uppercase and lowercase letter, 1 special character and 1 number.'
              min='8'
              autocomplete='new-password'
            >
            <small class='text-zinc-400'
              >Must have 8 digits: at least 1 uppercase and lowercase letter, 1 special character and 1 number.</small
            >

            <button type='submit' class='mt-4 btn-primary md:w-40'>Register</button>
          </div>

          {% comment %} Error toast - login and registration "share" the same form.errors, so this will serve both {% endcomment %}
          {% if form.errors %}
            {%- if request.path contains 'invalid_token' -%}
              {% assign error_message = 'Invitation expired or declined. Request a new one or register below' %}
              {% assign type = 'custom' %}
            {% else %}
              {%- assign error_message = form.errors -%}
              {%- assign type = 'form' -%}
            {%- endif -%}

            {% render 'toast', type: type, style: 'error', content: error_message %}
          {% endif %}
        {% endform %}
      </div>
    </div>
  </div>
</div>

<script>
  window.addEventListener('load', () => {
    if (window.location.search.includes('checkout')) {
      document.body.querySelector('#checkout-notice').classList.replace('hidden', 'flex');
    }
  });
</script>

{% schema %}
{
  "name": "Login Template",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Login or Register",
      "label": "Page Title"
    }
  ]
}
{% endschema %}
