<div class='max-w-7xl p-5 container mx-auto'>
  {% paginate collection.products by section.settings.products-per-page %}

    <div class='flex items-end mb-5' x-data>
      <h1 class='text-3xl'>
        {% if collection.handle == 'all' %}
          All Products
        {% else %}
          {{ collection.title }}
        {% endif %}
      </h1>

      {% if collection.handle != 'all' %}
        <a class='text-sm ml-auto mr-0' href='{{ routes.collections_url }}'>« See All Collections</a>
      {% else %}
        <button @click='$dispatch("open-search")' type='button' class='whitespace-nowrap text-base text-gray-500 hover:text-gray-900 mb-[6px] ml-2' title='Do a Product Search'>
          {% render 'icon-search' %}
        </button>
      {% endif %}
    </div>

    <div class='grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5'>
      {% for product in collection.products %}
        {% render 'product-tile' product: product %}
      {% else %}
          There are no products on this category
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
      {% render 'pagination', paginate: paginate %}
    {% endif %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Collection Template",
  "settings": [
    {
      "type": "number",
      "id": "products-per-page",
      "default": 12,
      "label": "Products per page"
    }
  ]
}
{% endschema %}