@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    @apply font-serif;
  }

  input[type='text'],
  input[type='number'],
  input[type='password'],
  input[type='email'],
  input[type='search'],
  input[type='tel'],
  select,
  textarea {
    @apply rounded-lg;
  }

  input[type='checkbox'] {
    @apply appearance-none w-4 h-4 border text-orange-500 bg-gray-100 border-gray-300 rounded focus:ring-orange-500 focus:ring-2 focus:ring-offset-2;

    &:checked {
      @apply bg-current bg-center bg-no-repeat border-transparent;

      background-size: 8px 8px;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3E%3C/svg%3E");
    }
  }
}

@layer components {
  .btn-primary {
    @apply font-serif px-4 py-2 rounded-lg text-base font-medium text-white bg-orange-600 enabled:hover:bg-orange-800 disabled:bg-gray-400 disabled:cursor-not-allowed;
  }

  .btn-secondary {
    @apply font-serif px-4 py-2 rounded-lg text-base font-medium text-white bg-zinc-600 enabled:hover:bg-zinc-800 disabled:bg-gray-400 disabled:cursor-not-allowed;
  }

  .btn-link {
    @apply font-sans p-0 border-none;
  }

  .link-orange {
    @apply text-orange-600;
  }

  /* Global dialog styles */
  .dialog-main {
    @apply w-full max-w-[90vw] lg:max-w-[600px] bg-white border border-zinc-300 rounded-lg opacity-0;

    box-shadow: 0 0 15px 0px rgb(169 169 169 / 75%);

    /* Experimental animations, does't affect browsers that don't support it */
    transition: opacity 0.2s ease-out, overlay 0.3s ease-out allow-discrete,
      display 0.3s ease-out allow-discrete;

    &::backdrop {
      backdrop-filter: blur(0px);
      background-color: rgb(0 0 0 / 40%);
      opacity: 0;
      transition: backdrop-filter 0.25s, opacity 0.2s;
    }
  }

  /* Sadly can't use CSS nesting with [open], or Tailwind breakpoints utilities won't work. */
  .dialog-main[open] {
    display: flex;
    opacity: 1;

    &::backdrop {
      opacity: 1;
      backdrop-filter: blur(5px);
    }
  }

  .dialog-centered {
    transform: scale(0.7);
    transition: opacity 0.2s ease-out, overlay 0.3s ease-out allow-discrete,
      display 0.3s ease-out allow-discrete, transform 0.2s ease-out;
  }

  .dialog-centered[open] {
    transform: scale(1);
  }

  .dialog-bottom {
    @apply rounded-b-none;

    top: auto;
    bottom: -100vh;
    transition: opacity 0.2s ease-out, overlay 0.3s ease-out allow-discrete,
      display 0.3s ease-out allow-discrete, bottom 0.3s ease-out;
  }

  .dialog-bottom[open] {
    bottom: 0vh;
  }

  @starting-style {
    .dialog-main[open] {
      opacity: 0;

      &::backdrop {
        opacity: 0;
        backdrop-filter: blur(0px);
      }
    }

    .dialog-centered[open] {
      transform: scale(0.7);
    }

    .dialog-bottom[open] {
      bottom: -100vh;
    }
  }

  .dialog-inner {
    @apply flex flex-col relative w-full pt-7 pr-1 shadow-inner max-h-full;
  }

  .dialog-content {
    @apply overflow-auto max-h-full pl-7 pb-7 pr-6;
  }

  .dialog-close-btn {
    @apply absolute top-1 right-1 text-zinc-500;
  }

  .dialog-content,
  .add-custom-scrollbar {
    scroll-behavior: smooth;

    /* Firefox doesn't support all this, but the fallback is good enough */
    @supports (scrollbar-color: auto) {
      scrollbar-color: #b6b6b6 transparent; /* stylelint-disable-line */
      scrollbar-width: auto; /* stylelint-disable-line */
    }

    @supports selector(::-webkit-scrollbar) {
      scrollbar-color: unset;
      scrollbar-width: unset;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        border: 3px solid #b6b6b6;
        border-radius: 6px;
      }

      &::-webkit-scrollbar-thumb:hover {
        border-color: #919191;
      }
    }
  }

  .spinner {
    @apply hidden;

    &.visible-overlay {
      @apply flex flex-col absolute top-0 right-0 bottom-0 left-0 items-center justify-center bg-white/80;
    }
  }
}

@layer utilities {
  [x-cloak] {
    display: none !important;
  }

  .disabled {
    @apply opacity-50;
  }
}

:root {
  --spinner-img: url('data:image/svg+xml,<svg viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="%23adaeb1"/><path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="%23ea580c"/></svg>');
}

.show-spinner,
.show-spinner-small {
  position: relative;

  &::before {
    @apply absolute top-0 right-0 bottom-0 left-0 bg-white/80;

    content: '';
    z-index: 100;
  }

  &::after {
    @apply absolute w-8 h-8 top-0 right-0 bottom-0 left-0 m-auto animate-spin;
    content: var(--spinner-img);
    z-index: 101;
  }
}

.show-spinner-small {
  &::after {
    @apply w-4 h-4;
  }
}
